HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore all .properties files
*.properties
!gradle/wrapper/gradle-wrapper.properties

### Node.js Dependencies ###
# General node_modules
/node_modules

### Next.js (front-next) ###
/front-next/node_modules
/front-next/.next
/front-next/.env.local
/front-next/out/
/front-next/coverage

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/*

# Ignore manual http client files
manual-add-vtuber.http
